#main-block {
    width: 800px;

    margin: auto;
    padding: 20px;

    border-style: solid;
    color: black;
    border-width: 1px;
    border-radius: 10px;

    background-image: url("bookshelf.jpg");
    background-size: 900px;
    background-position: right;

    font-family: 'Trebuchet MS';
}

h1 {
    color: white;

    font-weight: bold;
    text-align: right;
}

#add-book {
    display: inline-block;

    width: 350px;

    padding: 20px;

    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    background-color: lightgray;
    opacity: 0.8;
}

#right-menu {
    display: flexbox;

    float: right;

    width: 150px;

    margin: auto;
    padding: 20px;

    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    background-color: lightgray;
}

#all-books {
    display: inline-block;

    padding: 20px;

    width: 550px;

    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    opacity: 0.85;

    background-color: lightgray;
}

#footer {
    overflow: hidden;
    width: 780px;
}

.add-book-inputs {
    width: 230px;

    float: left;
}

.add-book-input {
    height: 20px;
    width: 230px;

    margin-top: 5px;

    border-radius: 8px;
}

.button {
    display: inline-block;

    padding: 20px;
    margin-top: 13px;
    margin-left: 30px;

    border-radius: 8px;
    
    background-color: green;

    font-size: 20px;
    text-align: center;
    color: white;
}

.red {
    background-color: red;
}

h2 {
    margin: 0px 0px 30px 0px;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    margin-left: 5px;
}

li.single-book {
    float: left;

    width: 350px;
    margin: 10px;
    padding: 5px;

    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    list-style-type: none;

    opacity: 1;
}

.is-read {
    background-color: lightgreen;
}

.is-not-read {
    background-color: red;
}

#book-row {
    overflow: hidden;
}

#is-read-label {
    text-align: center;

    width: 70px;
    
    padding: 0px 0px 0px 2px;
    margin-right: 4px;

    font-style: italic;

    float: right;
}

ul {
    padding: 0;
}

a.pagination:hover {
    margin: 0;
}

a.left-float {
    float: left;
}

a.right-float {
    float: right;
}

.footer-link {
    float: right;

    font-size: 20px;
    color: white;
}