<!DOCTYPE html>
<html>
<head>
    <title> Bookstore - your online shelve </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body>
        <div id='main-block'>
            <div id='header'><img id='logo' src='/static/logo.png'></div>
            <div id='right-menu'>
                <h2>Menu</h2>
                <hr>
                <a href='/books/0'>Show all books</a>
                <a href='/add_book'>Add book</a>
                <a href='/search_book'>Search book</a>
            </div>
                {% block content %}

                {% endblock %}
            <div id="footer">
              <a class='footer-link float-right' href="http://www.github.com/adrjan"> AdrJan </a>
            </div>
        </div>
    </body>
</html>